* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

.navbar {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #222;
    display: none;
    flex-direction: column;
}

.nav-menu.active {
    display: flex;
}

.nav-menu li {
    border-top: 1px solid #333;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.nav-menu a:hover {
    background: #333;
}

@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        background: transparent;
    }

    .nav-menu li {
        border: none;
    }

    .nav-menu a {
        padding: 0 1rem;
    }
}

.search-section {
  padding: 2rem 1rem;

  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;

  display: flex;
  gap: 0.5rem;
}

.search-bar input {
  flex: 1;

  padding: 0.9rem 1rem;

  border: 2px solid #ccc;
  border-radius: 8px;

  font-size: 1rem;
}

.search-bar button {
  padding: 0.9rem 1.2rem;

  border: none;
  border-radius: 8px;

  background: #111;
  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.search-bar button:hover {
  background: #333;
}

@media (min-width: 768px) {

  .search-bar {
    max-width: 700px;
  }

}